-#  This file is app/views/movies/index.html.haml


%h1 All Movies
= form_tag movies_path, :id => 'ratings_form', :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, ("checked" if (@filtered_ratings.find_index(rating) or (params[:ratings] == nil and session[:ratings]==nil)))
  = submit_tag 'Refresh', :id => 'ratings_submit'
%table#movies
  %thead
    %tr
      %th{:class => @title_header}=link_to 'Movie Title', movies_path(:curr_sort => 'title'), :id => "title_header"
      %th Rating
      %th{:class => @release_date_header, :id => 'release_date_header'}=link_to "Release Date", movies_path(:curr_sort => 'release_date')
      %th More Info
  %tbody
    =render :partial=>'movie', :collection=>@movies

= link_to 'Add new movie', new_movie_path
