-#  This file is app/views/movies/index.html.haml


%h1 All Movies
= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]"
  = submit_tag 'Refresh'
%table#movies
  %thead
    %tr
      %th.hilite=link_to "Movie Title", sortTitle_path
      -#%th sortable "Movie Title"
      %th Rating
      %th=link_to "Release Date", sortRelease_path
      %th More Info
  %tbody
    -#=render :partial=>'movie', :collection=>@movies
    =render :partial=>'movie', :collection=>@movies.order("title ASC")
= link_to 'Add new movie', new_movie_path
-#= link_to 'Title', movies_title
-#= link_to 'Release Date', sort_release_path
